<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="google-site-verification" content="mQFXwDjB1tqPjGWoaUqup5v9b7ZOUZHdL3aAPOfpLic" />
<title><%=name%></title>
<link href="static/css.css" rel="stylesheet" />
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '<%=google_analytics_code%>']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
<body background="static/background.jpg">
<div class="#">
<div class="wrapper">
  <!-- <div class="#" align="center"><img src="static/dima.png" /></div> -->
<br />
<div class="#" align="center" >

<% if(hasOwnProperty('profiles') && profiles.length) { %>
<ul>
<% profiles.forEach(function(e) { %>
  <% if (e.hasOwnProperty('name') && e.hasOwnProperty('comment') && e.hasOwnProperty('url')) { %>
    <li><span class="headerLine"><a href="<%=((e.url.substr(0, 7) === 'mailto:') ? '' : '/r?url=') + e.url%>" onclick="_gaq.push(['_trackEvent', 'Click', 'Link', '<%=e.url%>']);"><%=e.name%></a>:</span> <%=e.comment%></li>
  <% } %>
<% }); %>
</ul>
<% } %>

</div>
<br />
</div>
</div>
</body>
</html>
